
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/****** default css ******/
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/****** header part ******/
.container {
    width: 80%;
    height: 420px;
    margin: 40px auto;
    background-color: rgba(0, 10, 0, 1);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 15px;
}

.header-left h1 {
    color: #FFFFFF;
    font-size: 40px;
}

.header-left p {
    color: #FFFFFF;
    font-size: 14px;
}

/******button animation start  ******/
.button-animation .header-button {
    width: 200px;
    height: 60px;
    color: #1a1717;
    font-size: x-large;
    border: none;
    border-radius: 5px;
    transition: ease-out 0.3s;
    border: 3px solid #e95151;
    position: relative;
    z-index: 1;
}

.button-animation .header-button:hover {
    cursor: pointer;
}

.button-animation .header-button:before {
    transition: 0.7s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #DD0000;
}

.button-animation .header-button:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

/******button animation end  ******/

.header-right img {
    height: 430px;
}

/****** button and blog part ******/

.buttons-and-blogs-container {
    width: 80%;
    display: flex;
    margin: 0 auto;
    margin-bottom: 80px;
    justify-content: space-between;
}

.left-section {
    width: 30%;
    margin-left: -20px;
    position: relative;
}

.button-div {
    width: 300px;
    height: 300px;
    background-color: rgba(0, 10, 0, 1);
    border-radius: 8px;
}

.button-div a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.button-div a .link-button {
    width: 130px;
    height: 30px;
    background-color: #E8E8E8;
    padding: 10px 40px;
    margin-bottom: 20px;
    margin-top: 25px;
    border-radius: 5px;
    border: none;
    color: #161616;
    text-align: center;
    font-weight: 550;
}

.button-div a .color-1 {
    background-color: #DD0000;
    color: #FFFFFF;
}

.button-div a .color-2 {
    background-color: #DD0000;
    color: #FFFFFF;
}


.right-section {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 24px;

}


.upcoming-matches {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    row-gap: 20px;
}

.match {
    margin: 0 auto;
    box-shadow: 5px 5px 20px rgb(235, 235, 235);
    border-radius: 8px;
    padding: 15px 20px;
}

.blog .blog-img {
    width: 95%;

}

.horizontal-flex {
    display: flex;
    justify-content: center;
    align-items: center;

}

.flex-start {
    display: flex;
    max-width: 140px;
    justify-content: space-between;

}

.left,
.right {
    display: flex;
    justify-content: space-between;
}

.left img {
    margin-right: 8px;
}

.right img {
    margin-right: 8px;
}

.blog {
    margin: 0 auto;
    box-shadow: 5px 5px 20px rgb(235, 235, 235);
    border-radius: 8px;
    padding: 15px 30px;
}

.view-button {
    visibility: hidden;
}

/****** footer part ******/
footer {
    background-color: rgba(0, 10, 0, 1);
    height: 280px;
}

footer h2 {
    color: #c53d43;
    text-align: center;
    font-style: bold;
    padding-top: 80px;
}

footer hr {
    width: 80%;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    list-style: none;
}

nav ul li a {
    color: #FFFFFF;
    Font-size: 14px;
    padding: 30px;
    text-decoration: none;

}

.social-media-icon {
    display: flex;
    justify-content: center;

}

.social-media-icon a {

    margin: 0 30px;
    font-size: 30px;
    color: rgb(224, 47, 100);

}










 /* ======================
        media - queries
 =======================*/

 /****** mobile view part  ******/
 @media screen and (max-width: 688px) {
    .container {
        flex-direction: column;
        height: 100%;
        width: 80%;
        justify-content: center;
        align-items: center;
    }

    .header-right img {
        width: 100%;
        margin-bottom: -16px;
        overflow: hidden;
    }

    .go-center {
        text-align: center;
    }

    .go-center #header-button {
        margin-left: -55px;
        margin: 30px 0;
    }

    .buttons-and-blogs-container {
        flex-direction: column;
    }

    .left-section {
        padding-left: 30px;
    }

    .button-div {
        background-color: #FFFFFF;
    }

    .right-section {
        grid-template-columns: 1fr;
        padding-left: 35px;
    }

    .blogs {
        width: 100%;
    }

    .upcoming-matches {
        grid-template-columns: 1fr;
    }


    footer {
        height: 100%;
    }

    nav ul {
        flex-direction: column;
        list-style: none;
        align-items: center;
        padding: 20px;
    }

    nav ul li {
        padding: 15px 10px;
    }

    .social-media-icon a {
        margin-bottom: 30px;
    }
}

/* tablet view part */

@media screen and (min-width:689px) and (max-width:1124px) {
    .container {
        width: 90%;
        height: 100%;
    }

    .buttons-and-blogs-container {
        flex-direction: column;
    }

    .button-div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10px;
        background-color: #fff;
    }

    .right-section {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 60px;
        margin-left: 50px;

    }
    .left-section{
       /* margin-left: 20px; */
    }
    .upcoming-matches {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 60px;
    }

    .view-button {
        visibility: visible;
        text-align: center;
    }

    .view-button button {
        background-color: #DD0000;
        color: #FFFFFF;
        border: none;
        padding: 10px 50px;
        border-radius: 8px;
        margin-bottom: 30px;
    }

    nav ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    footer {
        height: 340px;
        width: 100%;
    }

}

/*  End */